.about{
    text-align: center;
    color: aliceblue;
    font-size: 100px
}
h4{
    text-align: center;
    color: aliceblue;
    font-size: 30px;
}
HTML{
   background-image: url("background.jpg")
}